#navbar
  .grid_3
    #logo= link_to "Knotebooks", root_path
  .grid_7
    .nav_bar_buttons
      = link_to content_tag(:span, 'Browse'), knotebooks_path
      = link_to content_tag(:span, 'Contributors'), users_path
      = link_to content_tag(:span, 'Site News'), pages_path('news')
      = link_to content_tag(:span, 'About'), pages_path('about')
      = image_tag('/images/nav_button_border.png')
  .grid_6
    #search_bar
      - form_tag search_knotebooks_path, :method => :get do
        = text_field_tag :search, ''
        %button{ :type => 'submit' } Search
  .clear
    
/ #navbar
/   .container_16
/     .grid_3
/       #logo= link_to "Knotebooks", root_path
/     .grid_7
/       .nav_bar_buttons
/         = link_to content_tag(:span, 'Browse'), knotebooks_path
/         = link_to content_tag(:span, 'Contributors'), users_path
/         = link_to content_tag(:span, 'Site News'), pages_path('news')
/         = link_to content_tag(:span, 'About'), pages_path('about')
/         = image_tag('/images/nav_button_border.png')
/     .grid_6
/       #search_bar
/         - form_tag search_knotebooks_path, :method => :get do
/           = text_field_tag :search, ''
/           %button{ :type => 'submit' } Search
/     .clear